@charset "UTF-8";
@font-face {
    font-family: 'minhafonte';
    src: url(../FONTES/otf/Choko.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #830AD2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

header {
    color: white;
    text-align: center;
    padding-top: 35px;
    font-size: 36px;
    font-family: 'minhafonte', sans-serif;
}

header > h1 {
    filter: drop-shadow(4px 4px 4px black);
}

.perguntas {
    color: #fff;
    background: rgba(0, 0, 0, 0.4); /* cinza escuro translúcido */
    backdrop-filter: blur(10px);           /* efeito "vidro" */
    -webkit-backdrop-filter: blur(10px);   /* compatibilidade Safari */
    border: 1px solid rgba(255, 255, 255, 0.3); /* leve contorno branco */
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 50px;
    border-radius: 10px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3); /* profundidade com sombra */

}

form {
    padding: 5px;
}

#responder {
   border-radius: 10px;
   background-color: white;
   padding: 10px;
   margin: auto;
   display: block;
   font-family: Arial, Helvetica, sans-serif;
}

#responder:hover {
    background-color: black;
    color: white;
}

input[type="radio"] {
    transform: scale(1.3); /* Aumenta 1.5x o tamanho */
    margin-right: 8px;     /* Espaço entre bolinha e texto */
    accent-color: black; /* Ou qualquer cor: red, blue, etc */
}

input[type="radio"]:hover {
    transform: scale(1.7);
    accent-color: black;
    
}

@media screen and (max-width:768px) {
    body {
        padding: 4px;
    }
    
    .perguntas {
        margin-top: 40px;
    }
    
}